-if can? :create, Team
  = link_to t('.add_team'), new_team_path

%ul.list-group
  - @teams.each do |team|
    %li.list-group-item
      %h4= team.name
      -if can? :manage, team
        = link_to t('.edit'), edit_team_path(team)
        = link_to t('.destroy'), team_path(team), method: :delete, data: { confirm: t('.confirmation') }
