.menu-nav
  %ul.nav.nav-pills
    %li.active{:role => "presentation"}
      %a{:href => "#"} Tabela
    %li{:role => "presentation"}
      %a{:href => "#"} Terminarz
    %li{:role => "presentation"}
      %a{:href => "#"} Drużyny
    %li{:role => "presentation"}
      %a{:href => "#"} Zawodnicy
    %li{:role => "presentation"}
      %a{:href => "#"} Król strzelcow
    %li{:role => "presentation"}
      %a{:href => "#"} Teams
