// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user
  max-width: 300px
  margin-left: auto
  margin-right: auto
  text-align: center
.main-navigation
  .btn-group
    float: right
  .menu-nav
    float: left
  .user-btn
    -webkit-border-radius: 10px!important
    margin-left: 10px
.panel-fotter
  margin-left: auto
  margin-right: auto
  text-align: center
.panel-heading
  text-align: center
.navbar.navbar-default
  .title
    float: left
    margin: 15px 15px

