// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user
  max-width: 300px
.main-navigation
  float: right
  .button
    margin-right: 20px
    margin-left: 20px
