// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user
  max-width: 300px
  margin-left: auto
  margin-right: auto
  text-align: center
.navbar.navbar-default
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
  .main-navigation
    .btn-group
      float: right
      .user-btn
        -webkit-border-radius: 10px!important
        margin-left: 10px
    .menu-nav
      float: left
      margin: 4px
      .nav-pills
        li
          width: 150px
          text-align: center
    .home-image
      img
        height: 50px
  .title
    float: left
    margin: 15px 15px
.panel-fotter
  margin-left: auto
  margin-right: auto
  text-align: center
.panel-heading
  text-align: center
