.title
  text-align: center
.add-new
  text-align: center
.edit-team
  text-align: center
.show-team
  text-align: center
.add-team
  margin: 10px auto 20px auto
  width: 180px
  text-align: center
  display: block
.input-fields
  text-align: center
  .controls
    width: 500px
    margin: 10px auto 10px auto
    textarea
      height: 150px

